@use "global" as *;

// header-----------------------------------
.c-header {
  width: 100%;
  background-color: $white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.c-header-title__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.c-header__title {
  font-size: myrem(16);
  color: $blue;
  font-family: $font-jp;
  font-weight: normal;
}

.c-header-nav__list {
  display: flex;
}

.c-header__sub-title {
  font-size: myrem(32);
  color: $blue;
  font-family: $font-jp;
  font-weight: normal;
}

.c-header-nav__item {
  font-size: myrem(14);
  font-weight: bold;
}

.c-tel {
  display: flex;
  align-items: center;
  column-gap: myrem(4);
  font-size: myrem(29);
  font-family: $font-futura;
  letter-spacing: myrem(1.2);
}

.c-tel::before {
  font-size: myrem(23);
  font-family: bootstrap-icons;
  content: "\F5B4";
}

.c-opening-time {
  font-size: myrem(11);
  font-family: $font-jp;
  font-weight: normal;
  letter-spacing: myrem(1.3);
}

// 問い合わせ先---------------------------------------------
.c-information-catch {
  position: relative;
}

.c-information-catch__text {
  max-width: myrem(389);
  margin-left: 224px;
  font-size: myrem(26);
  font-family: $font-sub;
}

.c-information-catch__image {
  position: absolute;
  top: -62px;
  left: 596px;
  z-index: 10;
}

.c-information-catch__image img {
  width: myrem(122);
  height: myrem(165);
}

.c-information-boxes {
  margin-top: myrem(19);
  position: relative;
  display: flex;
  column-gap: 31px;
  z-index: 20;

  margin-left: 100px;
}

.c-information-box__bottom {
  width: myrem(350);
  padding: myrem(13) myrem(13) myrem(6);
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $blue;
  text-align: center;
}

.c-opening-time__information-bottom {
  font-size: myrem(13);
}

.c-tel__information-bottom {
  margin: 0 auto;
  font-size: myrem(28);
  font-weight: bold;
}

.c-comment__information-bottom {
  font-size: myrem(13);
  font-family: $font-jp;
  font-weight: normal;
}

.c-mail__information-bottom {
  margin: myrem(7) auto 0;
  display: flex;
  align-items: center;
  column-gap: myrem(8);
  font-size: myrem(21);
  font-family: $font-jp;
  font-weight: bold;
}

.c-mail__information-bottom::before {
  font-family: bootstrap-icons;
  content: "\F32F";
}

// フッター----------------------------------------------
.c-footer {
  padding-bottom: myrem(50);
  font-family: $font-jp;
  color: $white;
  background-color: $blue;
  text-align: center;
}

.c-footer-top {
  padding-top: myrem(47);
  padding-left: myrem(18);
}

.c-footer-top__title,
.c-footer-top__sub-title {
  font-size: myrem(16);
  font-weight: normal;
}

.c-footer-top__sub-title {
  margin-top: myrem(5);
}

.c-footer-nav {
  margin-top: myrem(26);
  font-size: myrem(12);
  font-weight: normal;
}

.c-footer-nav__list {
  margin-left: myrem(-29);
  display: flex;
  justify-content: center;
  column-gap: myrem(25);
}

.c-footer-bottom {
  margin-top: 33px;
  margin-left: -27px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: myrem(11);
}

.c-twitter,
.c-line {
  width: myrem(39);
  height: myrem(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.c-twitter {
  color: $blue;
  background-color: $white;
}

.c-line {
  color: $white;
  background-color: $blue;
}

.c-twitter__inner {
  font-size: myrem(18);
}

.c-line__inner {
  font-size: myrem(40);
}
