@use "global" as *;

// フッター----------------------------------------------
.c-footer {
  padding-bottom: myrem(50);
  font-family: $font-jp;
  color: $white;
  background-color: $blue;
  text-align: center;
}

.c-footer-top {
  padding-top: myrem(47);
  padding-left: myrem(18);
}

.c-footer-top__title,
.c-footer-top__sub-title {
  font-size: myrem(16);
  font-weight: normal;
}

.c-footer-top__sub-title {
  margin-top: myrem(5);
}

.c-footer-nav {
  margin-top: myrem(26);
  font-size: myrem(12);
  font-weight: normal;
}

.c-footer-nav__list {
  margin-left: myrem(-29);
  display: flex;
  justify-content: center;
  column-gap: myrem(25);
}

.c-footer-bottom {
  margin-top: 33px;
  margin-left: -27px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: myrem(11);
}
