@use "global" as *;

.c-hamburger-button {
  padding: myrem(8);
  width: myrem(50);
  height: myrem(40);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  border-radius: myrem(5);
  z-index: 50;
  @include mq(md) {
    display: none;
  }
}

.c-hamburger-button:hover {
  cursor: pointer;
}

.c-hamburger-button__line {
  width: 100%;
  height: myrem(2);
  background-color: $white;
  position: relative;
  transition: 0.2s;
}

.c-hamburger-button__line::before,
.c-hamburger-button__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: 0.2s;
}

.c-hamburger-button__line::before {
  transform: translateY(-10px);
}

.c-hamburger-button__line::after {
  transform: translateY(myrem(10));
}

.c-hamburger-button__line.open {
  background-color: transparent;
}

.c-hamburger-button__line.open::before,
.c-hamburger-button__line.open::after {
  content: "";
  transition: 0.2s;
}

.c-hamburger-button__line.open::before {
  transform: rotate(45deg);
}

.c-hamburger-button__line.open::after {
  transform: rotate(-45deg);
}
