@use "global" as *;

// header-----------------------------------
.c-header {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid $border;
  @include mq(md) {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }
}

.c-header-title__box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  @include mq(md) {
    flex-direction: row-reverse;
  }
}

.c-header__title {
  font-size: myrem(16);
  color: $blue;
  font-family: $font-jp;
  font-weight: normal;
  @include mq(md) {
    margin-top: myrem(23);
    margin-left: myrem(17);
  }
}

.c-header-nav__box {
  display: none;
  position: relative;
  left: -100vw;
  @include mq(md) {
    margin-top: myrem(9);
    display: block;
    position: initial;
  }
}

.c-header-nav__box.open {
  padding-top: myrem(27);
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: myrem(80);
  left: 0;
  text-align: center;
  background-color: $gray-1;
}

.c-header-nav {
  margin-top: myrem(65);
  @include mq(md) {
    margin-top: 0;
  }
}

.c-header-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: myrem(23);
  @include mq(md) {
    flex-direction: row;
    column-gap: myrem(38);
  }
}

.c-header__sub-title {
  font-size: myrem(32);
  color: $blue;
  font-family: $font-jp;
  font-weight: normal;
}

.c-header-nav__item {
  font-size: myrem(14);
  font-weight: bold;
}
