@use "global" as *;

.c-hamburger-button {
  padding: 0 myrem(5);
  width: myrem(50);
  height: myrem(40);
  background-color: $blue;
  border-radius: myrem(5);
  z-index: 50;
  cursor: pointer;
  @include mq(md) {
    display: none;
  }
}

.c-hamburger-button span {
  width: 100%;
  height: myrem(3);
  display: block;
  background-color: $white;
  position: relative;
  transition: 0.3s;
}

.c-hamburger-button span:nth-child(2) {
  margin: myrem(6) 0;
}

//ハンバーガーがクリックされた時の動き
.c-hamburger-button.is-active span:nth-child(1) {
  transform: translate(0, myrem(8)) rotate(-45deg);
}

.c-hamburger-button.is-active span:nth-child(2) {
  background-color: transparent;
}

.c-hamburger-button.is-active span:nth-child(3) {
  transform: translate(0, myrem(-10)) rotate(45deg);
}
