@use "global" as *;

// 問い合わせ先--------------------------------------------

.c-information-catch {
  margin: 0 auto;
  max-width: myrem(300);
  position: relative;
  @include mq(md) {
    max-width: myrem(500);
  }
}

.c-information-catch__text {
  max-width: myrem(200);
  font-size: myrem(20);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  @include mq(md) {
    max-width: myrem(389);
    font-size: myrem(26);
  }
}

.c-information-catch__image {
  width: myrem(122);
  position: absolute;
  top: myrem(-16);
  right: -9%;
  z-index: 10;
  @include mq(md) {
    top: myrem(-61);
    right: myrem(7);
  }
}

.c-information-catch__image img {
  aspect-ratio: 120.26/163.55;
  object-fit: contain;
}

.c-information-box {
  margin: myrem(19) auto 0;
  max-width: myrem(750);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: myrem(20);
  column-gap: myrem(29);
  z-index: 20;
  @include mq(md) {
    flex-direction: row;
  }
}

.c-information-box__first,
.c-information-box__second {
  width: myrem(350);
  margin: 0 auto;
  padding: myrem(13) myrem(13) myrem(6);
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $blue;
  text-align: center;
  @include mq(md) {
    margin: 0;
  }
}

.c-information-box__opening-time {
  margin-left: myrem(-19);
  font-size: myrem(13);
  letter-spacing: myrem(0.1);
  font-family: $font-jp;
  font-weight: normal;
}

.c-information-box__tel {
  margin-left: myrem(39);
  display: flex;
  align-items: center;
  column-gap: myrem(4);
  font-size: myrem(28);

  font-family: $font-futura;
  font-weight: bold;
  letter-spacing: myrem(0.1);
}

.c-information-box__tel::before {
  font-size: myrem(23);
  font-family: bootstrap-icons;
  content: "\F5B4";
}

.c-information-box__comment {
  font-size: myrem(13);
  font-family: $font-jp;
  font-weight: normal;
}

.c-information-box__mail {
  margin: myrem(7) 0 0 myrem(34);
  display: flex;
  align-items: center;
  column-gap: myrem(8);
  font-size: myrem(21);
  font-family: $font-jp;
  font-weight: bold;
}

.c-information-box__mail::before {
  font-size: myrem(19);
  font-family: bootstrap-icons;
  content: "\F32F";
}
