@use "global" as *;

.c-mail__information-bottom {
  margin: myrem(7) 0 0 myrem(34);
  display: flex;
  align-items: center;
  column-gap: myrem(8);
  font-size: myrem(21);
  font-family: $font-jp;
  font-weight: bold;
}

.c-mail__information-bottom::before {
  font-size: myrem(19);
  font-family: bootstrap-icons;
  content: "\F32F";
}
