@use "global" as *;

.c-opening-time {
  font-size: myrem(11);
  font-family: $font-jp;
  font-weight: normal;
  letter-spacing: myrem(1.3);
}

.c-opening-time__information-bottom {
  font-size: myrem(13);
}
