@use "global" as *;

.c-twitter {
  width: myrem(39);
  height: myrem(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.c-twitter {
  color: $blue;
  background-color: $white;
}

.c-twitter__inner {
  font-size: myrem(18);
}
