@use "global" as *;

.p-contact__button {
  width: myrem(201);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: myrem(13);
  padding: myrem(12) myrem(41) myrem(13);
  border-radius: myrem(5);
  font-size: myrem(14);
  font-weight: bold;
  color: $white;
  background-color: $blue;
  @include mq(md) {
    position: absolute;
    top: myrem(26);
    left: 82%;
  }
}

.p-contact__button::before {
  font-size: myrem(17);
  color: $white;
  font-family: bootstrap-icons;
  content: "\F32F";
}
