@use "global" as *;

.p-cases {
  margin-top: myrem(16);
  padding: myrem(14) myrem(10) myrem(11);
  max-width: myrem(350);
  width: 100%;
  background-color: $blue-sub;
  text-align: start;
  @include mq(md) {
    padding: myrem(14) myrem(17) myrem(11);
  }
}

.p-cases-center {
  margin-left: myrem(5);
}

.p-case__title {
  margin: myrem(-2) 0 myrem(5) 0;
  font-size: myrem(14);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  color: $blue;
}

.p-case__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(16);
}

.p-case__item {
  font-size: myrem(12);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
}

.p-case__item::before {
  content: "";
  width: myrem(3);
  height: myrem(3);
  margin-right: myrem(5);
  position: relative;
  top: myrem(-1);
  display: inline-block;
  background-color: $black;
  border-radius: 50%;
}
