@use "global" as *;

// ポイント------------------------------------
.p-cards__point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: myrem(51);
  @include mq(md) {
    flex-direction: row;
  }
}

.p-card__point {
  max-width: myrem(320);
  width: 100%;
  margin: myrem(89) auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border: 1px solid #dddddd;
  @include mq(md) {
    margin: myrem(89) 0 0;
  }
}

.p-card-top__title {
  position: absolute;
  top: myrem(-26);
  font-family: $font-roboto;
  font-weight: bold;
  font-size: myrem(15);
}

.p-card-top__number {
  position: absolute;
  top: myrem(-22);
  font-family: $font-roboto;
  font-weight: bold;
  font-size: myrem(49);
}

.p-cards__service {
  margin-top: myrem(120);
  display: flex;
  flex-direction: column;
  row-gap: myrem(31);
}

.p-card__service {
  margin: 0 auto;
  padding: myrem(25) myrem(17);
  max-width: myrem(320);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  column-gap: myrem(29);
  background-color: $blue-1;
  border-radius: myrem(5);
  @include mq(md) {
    margin: 0;
    max-width: myrem(705);
    flex-direction: row;
  }
}

.p-card__service:nth-child(2) {
  padding: myrem(37) myrem(17);
  background-color: $blue-2;
}

.p-card__service:nth-child(3) {
  background-color: $blue-3;
}

.p-cards__other-service {
  margin-top: myrem(70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: myrem(27);
  row-gap: myrem(30);
  @include mq(md) {
    margin-top: myrem(38);
    flex-direction: row;
  }
}

.p-card__other-service {
  margin: 0 auto;
  max-width: myrem(365);
  padding: myrem(35) myrem(40) myrem(46);
  display: flex;
  box-shadow: 0 0 myrem(5) myrem(2) rgba(0, 0, 0, 0.1);
  border-radius: myrem(5);
  @include mq(md) {
    margin: 0;
  }
}

// 取扱分野
.p-cards__service2 {
  margin-top: myrem(84);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: myrem(40);
  column-gap: myrem(30);
  @include mq(md) {
    flex-direction: row;
    align-items: start;
  }
}

.p-card__service2 {
  padding: myrem(5);
  width: myrem(350);
  text-align: center;
  @include mq(md) {
    padding: 0;
  }
}

.p-cards__other-service2 {
  margin-top: myrem(75);
  column-gap: myrem(20);
}

.p-card__other-service2 {
  padding: myrem(32) myrem(35) myrem(25) myrem(39);
}
