@use "global" as *;

.p-detail-button {
  width: myrem(140);
  display: inline-block;
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  font-size: myrem(12);
  color: $black-sub;
  background-color: $white;
  border-radius: myrem(50);
  margin: myrem(25) myrem(13) 0 0;
  padding: myrem(8.5) myrem(10) myrem(8.5) myrem(22);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-detail-button2 {
  margin-top: myrem(33);
  padding: myrem(10) myrem(48);
  font-size: myrem(14);
  font-family: $font-jp;
  font-weight: normal;
  color: $white;
  background-color: $blue;
  display: inline-block;
  border-radius: myrem(50);
}

.p-detail-button__arrow-right {
  display: inline-block;
  vertical-align: middle;
  color: $black-sub;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  margin-left: myrem(10);
}

.p-detail-button__arrow-right::after {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: -0.05em;
  box-sizing: border-box;
}
