@use "global" as *;

// フッター----------------------------------------------
.p-footer {
  padding-bottom: myrem(50);
  font-family: $font-jp;
  color: $white;
  background-color: $blue;
  text-align: center;
}

.p-footer__top {
  padding: myrem(44) 0 0 myrem(18);
}

.p-footer__top-title,
.p-footer__top-sub-title {
  font-size: myrem(16);
  font-weight: normal;
}

.p-footer__top-sub-title {
  margin-top: myrem(5);
}

.p-footer__nav {
  margin-top: myrem(27);
  font-size: myrem(12);
  font-weight: normal;
}

.p-footer__nav-list {
  margin: 0 myrem(1) 0;
  display: flex;
  justify-content: center;
  column-gap: myrem(28);
  row-gap: myrem(20);
  flex-wrap: wrap;
  @include mq(md) {
    margin-left: myrem(-29);
    column-gap: myrem(25);
  }
}

.p-footer__bottom {
  margin-top: myrem(33);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: myrem(11);
  @include mq(md) {
    margin-left: myrem(-27);
  }
}

.p-footer__twitter {
  width: myrem(39);
  height: myrem(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $blue;
  background-color: $white;
}

.p-footer__twitter-inner {
  font-size: myrem(18);
}

.p-footer__line {
  width: myrem(39);
  height: myrem(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $white;
  background-color: $blue;
}

.p-footer__line-inner {
  font-size: myrem(40);
}
