@use "global" as *;

.p-fee__title {
  margin: 0 auto;
  padding: 0 myrem(10);
  width: fit-content;
  border-bottom: 2px solid $orange;
}

.p-fee__about {
  margin: 0 auto;
  padding: myrem(50) myrem(15);
  max-width: myrem(1000);
  @include mq(md) {
    padding: myrem(74) 0 myrem(168);
  }
}

.p-fee__text {
  font-size: myrem(16);
  line-height: 1.7;
}

.p-fee__text:last-child {
  margin-top: myrem(30);
}
