@use "global" as *;

.p-lawyer__introduce {
  margin: 0 auto;
  max-width: myrem(1280);
  position: relative;
}

.p-lawyer__info {
  margin-top: myrem(110);
  margin-left: 0;
  padding-bottom: myrem(60);
  max-width: myrem(812);
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(md) {
    margin-left: myrem(-52);
    padding-bottom: myrem(108);
  }
}

.p-lawyer__info-inner {
  margin: myrem(300) auto 0;
  padding: myrem(12);
  max-width: myrem(520);
  @include mq(md) {
    margin: myrem(108) auto 0;
    padding: 0 0 0 myrem(47);
  }
}

.p-lawyer__title {
  font-size: myrem(33);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  color: $black-sub;
  line-height: 1.4;
}

.p-lawyer__comment {
  margin: myrem(18) 0 0 myrem(2);
  font-size: myrem(16);
  line-height: 1.4;
}

.p-lawyer__comment:last-child {
  margin-top: myrem(21);
}

.p-lawyer__image {
  position: absolute;
  top: myrem(44);
  right: 50%;
  transform: translateX(50%);
  @include mq(md) {
    top: myrem(44);
    right: 26.9%;
  }
}

.p-lawyer__image img {
  max-width: myrem(320);
  @include mq(md) {
    max-width: myrem(491);
  }
}
