@use "global" as *;

// 弁護士紹介---------------------------------------
.p-main-person__introduce {
  margin: 0 auto;
  max-width: myrem(1040);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(md) {
    display: block;
    position: relative;
  }
}

.p-main-person__image {
  text-align: center;
  @include mq(md) {
    margin-left: myrem(18);
    text-align: start;
  }
  img {
    max-width: myrem(320);
    width: 100%;
    @include mq(md) {
      max-width: myrem(454);
    }
  }
}

.p-main-person__info {
  margin: myrem(50) auto 0;
  max-width: myrem(320);
  padding: myrem(15);
  position: initial;
  top: 18.5%;
  left: 40.5%;
  background-color: $white;
  text-align: center;
  @include mq(md) {
    margin: 0;
    padding: myrem(24) myrem(71) myrem(34);
    max-width: myrem(635);
    width: 100%;
    position: absolute;
    text-align: start;
  }
}

.p-main-person__info-inner {
  font-size: myrem(32);
  font-family: $font-jp;
  font-weight: bold;
}

.p-main-person__name {
  margin-left: myrem(33);
}

.p-main-person__comment {
  margin-top: myrem(19);
  margin-bottom: myrem(33);
  font-size: myrem(14);
  font-family: $font-jp;
  font-weight: normal;
  line-height: 1.7;
  text-align: start;
}
