@use "global" as *;

// お知らせ-----------------------------------------
.p-notice {
  margin: myrem(77) auto 0;
  padding: myrem(15);
  max-width: myrem(750);
  display: flex;
  align-items: start;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    padding: 0 0 0 myrem(27);
  }
}

.p-notice-box {
  margin-top: myrem(30);
  @include mq(md) {
    margin: 0 0 0 myrem(72);
    border-left: 1px solid $black;
  }
}

.p-notice__list {
  @include mq(md) {
    margin-left: myrem(69);
  }
}

.p-notice__item {
  margin-bottom: myrem(25);
  display: flex;
  column-gap: myrem(24);
  @include mq(md) {
    margin: 0 0 myrem(12.5) myrem(-7);
  }
}

.p-notice__date {
  font-size: myrem(14);
  font-family: $font-jp;
  font-weight: bold;
}

.p-notice__text {
  margin-left: myrem(1);
  font-size: myrem(14);
  font-family: $font-jp;
  font-weight: normal;
}

.p-notice-more {
  margin-left: myrem(12);
  position: relative;
  font-size: myrem(14);
  font-family: $font-jp;
  font-weight: bold;
  color: $blue;
  line-height: 2;
}

.p-notice-more:before,
.p-notice-more::after {
  content: "";
  width: myrem(8);
  height: myrem(8);
  position: absolute;
  top: 60%;
  border-top: 2px solid $blue;
  border-right: 2px solid $blue;
  transform: translateY(-50%) rotate(45deg) skew(-15deg, -15deg);
}

.p-notice-more::before {
  left: myrem(-21);
}

.p-notice-more::after {
  left: myrem(-12);
}
