@use "global" as *;

.p-office {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: myrem(250);
  @include mq(md) {
    padding-top: myrem(43);
    flex-direction: row;
  }
}

.p-office__information {
  margin-top: myrem(83);
  text-align: center;
  @include mq(md) {
    text-align: start;
  }
}

.p-office__information-title {
  margin: 0 auto;
  padding: 0 myrem(19) 0 myrem(11);
  width: fit-content;
  font-size: myrem(27);
  border-bottom: 2px solid $orange;
  @include mq(md) {
    margin: 0 0 0 myrem(-6);
  }
}

.p-office__information-inner {
  margin: myrem(26) 0 0 myrem(5);
  padding-right: myrem(28);
}

.p-office__name {
  font-size: myrem(20);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
}

.p-office__address {
  margin-top: myrem(4);
  font-size: myrem(18);
  font-family: $font-jp;
  font-weight: normal;
}

.p-office__tel {
  margin-top: myrem(16);
  font-size: myrem(18);
  font-family: $font-jp;
  font-weight: normal;
  letter-spacing: myrem(0.3);
}

.p-office__fax {
  margin-top: myrem(3);
  font-size: myrem(18);
  font-family: $font-jp;
  font-weight: normal;
}

.p-office__map {
  margin: myrem(40) auto 0;
  @include mq(md) {
    margin: 0;
  }
}

.p-office__map iframe {
  max-width: myrem(320);
  height: myrem(398);
  @include mq(md) {
    max-width: myrem(460);
  }
}
