@use "global" as *;

.p-point__section-title {
  margin-left: myrem(-4);
  text-align: center;
}

.p-point__comment {
  margin-top: myrem(45);
  padding: 0 myrem(23);
  font-size: myrem(14);
  line-height: 1.6;
  text-align: start;
  @include mq(md) {
    margin: myrem(13) 0 0 myrem(-4);
    padding: 0;
    text-align: center;
  }
}

.p-point__image {
  margin: myrem(45) 0 myrem(13);
  @include mq(md) {
    margin-top: myrem(92);
  }
}

.p-point__bottom {
  padding-top: myrem(87);
  padding-bottom: myrem(63);
  background-color: $gray-2;
}

.p-point__cards {
  margin: 0 auto;
  max-width: myrem(1113);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: myrem(75);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-point__card {
  max-width: myrem(320);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border: 1px solid #dddddd;
  @include mq(md) {
    // padding: 0;
  }
}

.p-point__card-top-title {
  position: absolute;
  top: myrem(-26);
  font-family: $font-roboto;
  font-weight: bold;
  font-size: myrem(15);
}

.p-point__card-top-title1 {
  margin-left: myrem(-6);
}

.p-point__card-top-number {
  position: absolute;
  top: myrem(-22);
  font-family: $font-roboto;
  font-weight: bold;
  font-size: myrem(49);
}

.p-point__card-top-number1 {
  margin-left: myrem(-6);
}

.p-point__card-icon {
  margin-top: myrem(61);
  width: myrem(74);
}

.p-point__card-icon-lg {
  margin-top: myrem(63);
  width: myrem(88);
}

.p-point__card-title {
  margin-top: myrem(23);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: myrem(16);
  text-align: center;
}

.p-point__card-title1 {
  margin-left: myrem(-4);
}

.p-point__card-title-long {
  margin-top: myrem(29);
}

.p-point__card-text {
  padding: myrem(15) myrem(36) myrem(40);
  font-size: myrem(12);
  line-height: 1.8;
  @include mq(md) {
    padding: myrem(6) myrem(36) myrem(29);
  }
}

.p-point__card-text1 {
  padding: myrem(15) myrem(36) myrem(40);
  @include mq(md) {
    padding: myrem(6) myrem(49) myrem(28);
  }
}

.p-point__card-text3 {
  padding: myrem(15) myrem(36) myrem(40);
  @include mq(md) {
    padding: myrem(8) myrem(28) myrem(20);
  }
}
