@use "global" as *;

// 取扱分野ページ
.p-service-view {
  position: relative;
  height: myrem(227);
  background-size: cover;
  background-image: url(../images/service-view.jpg);
}

.p-service-view__title {
  padding: myrem(10) myrem(50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  background-color: $blue;
  text-align: center;
  border-radius: myrem(5);
  @include mq(md) {
    margin: myrem(-1) 0 0 myrem(18);
    padding: myrem(14) myrem(129) myrem(9) myrem(132);
  }
}

.p-service-view__title-top {
  font-size: myrem(15);
  @include mq(md) {
    font-size: myrem(22);
  }
}

.p-service-view__title-bottom {
  font-size: myrem(10);
  @include mq(md) {
    margin-top: myrem(-2);
    font-size: myrem(14);
  }
}

// 業務内容----------------------------------------

.p-service__title {
  margin: 0 auto;
  padding: 0 myrem(10);
  width: fit-content;
  border-bottom: 2px solid $orange;
}

.p-service__cards {
  margin-top: myrem(84);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: myrem(40);
  @include mq(md) {
    flex-direction: row;
    align-items: start;
  }
}

.p-service__card {
  padding: myrem(5);
  width: myrem(350);
  text-align: center;
  @include mq(md) {
    padding: 0;
  }
}

.p-service__card-center {
  margin: 0 myrem(36) 0 myrem(25);
}

.p-service__image {
  max-width: myrem(350);
}

.p-service__image img {
  aspect-ratio: 350/272;
  object-fit: contain;
}

.p-service__box {
  text-align: start;
}

.p-service__box-title {
  margin-top: myrem(13);
  padding-bottom: myrem(7);
  font-size: myrem(34);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  color: $blue;
  border-bottom: 1px solid $blue;
}

.p-service__box-title-center {
  margin-left: myrem(6);
}

.p-service__box-text {
  margin: myrem(13) 0 0 myrem(0);
  max-width: myrem(347);
  width: 100%;
  font-size: myrem(12);
  line-height: 1.8;
}

.p-service__box-text-center {
  margin: myrem(13) 0 0 myrem(6);
}

.p-service__cases {
  margin-top: myrem(16);
  padding: myrem(14) myrem(10) myrem(11);
  max-width: myrem(350);
  width: 100%;
  background-color: $blue-sub;
  text-align: start;
  @include mq(md) {
    padding: myrem(14) myrem(17) myrem(11);
  }
}

.p-service__cases-center {
  margin-left: myrem(5);
}

.p-service__case-title {
  margin: myrem(-2) 0 myrem(5) 0;
  font-size: myrem(14);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
  color: $blue;
}

.p-service__case-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(16);
}

.p-service__case-item {
  font-size: myrem(12);
  font-family: $font-sub;
  font-weight: 700;
  font-style: normal;
}

.p-service__case-item::before {
  content: "";
  width: myrem(3);
  height: myrem(3);
  margin-right: myrem(5);
  position: relative;
  top: myrem(-1);
  display: inline-block;
  background-color: $black;
  border-radius: 50%;
}

.p-service__more {
  max-width: myrem(150);
  width: 100%;
  margin: myrem(31) 0 0 0;
  padding: myrem(10) 0;
  border-radius: 0;
  border: 1px solid $black;
}

.p-service__more-center {
  margin: myrem(31) 0 0 myrem(9);
}

// 問い合わせ先

.p-service-page__information {
  margin-top: 0;
  @include mq(md) {
    margin-top: myrem(-2);
  }
}
