@use "global" as *;

// 分野-------------------------------------------------
.p-service__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: myrem(80);
  text-align: center;
  @include mq(md) {
    flex-direction: row;
    text-align: start;
  }
}

.p-service-title__area {
  max-width: myrem(368);
  margin: myrem(50) auto 0;
  @include mq(md) {
    margin: myrem(307) 0 0;
  }
}

.p-service-about {
  margin-top: myrem(31);
  margin-bottom: myrem(48);
  font-size: myrem(14);
  line-height: 1.8;
  text-align: start;
}

.p-service-more {
  padding: myrem(22) myrem(38);
  font-size: myrem(16);
  font-family: $font-sub;
  color: $white;
  background-color: $orange-2;
  border-radius: myrem(50);
}

.p-service__image {
  margin: myrem(2) auto 0;
  @include mq(md) {
    margin: myrem(2) 0 0 myrem(27);
  }
}

.p-service__image img {
  width: myrem(107);
}

.p-service-box {
  width: myrem(330);
}

.p-service__title {
  margin-top: myrem(15);
  margin-left: myrem(5);
  color: $white;
  font-family: $font-sub;
  font-size: myrem(24);
  font-weight: bold;
  @include mq(md) {
    margin-top: 0;
  }
}

.p-service__text {
  margin-top: myrem(25);
  margin-left: myrem(6);
  padding: 0 myrem(10);
  color: $white;
  font-size: myrem(12);
  line-height: 1.8;
  @include mq(md) {
    margin-top: myrem(4);
    padding: 0;
  }
}

// 業務内容----------------------------------------
.p-service2-box {
  text-align: start;
}

.p-service2__title {
  margin-top: myrem(13);
  padding-bottom: myrem(7);
  font-size: myrem(34);
  font-family: $font-sub;
  font-weight: bold;
  color: $blue;
  border-bottom: 1px solid $blue;
}

.p-service2__text {
  margin-top: myrem(12);
  padding: 0 myrem(1);
  font-size: myrem(12);
  line-height: 1.8;
}

.p-service2-more {
  margin-top: myrem(31);
  margin-left: myrem(10);
  padding: myrem(9) myrem(44);
  border-radius: 0;
  border: 1px solid $black;
}

// 取扱分野ページ
.p-service-view {
  position: relative;
  height: myrem(227);
  background-size: cover;
  background-image: url(/dist/images/service-view.jpg);
}

.p-service-title__top {
  font-size: myrem(15);
  @include mq(md) {
    font-size: myrem(22);
  }
}

.p-service-title__bottom {
  font-size: myrem(10);
  @include mq(md) {
    font-size: myrem(14);
  }
}

// 弁護士コメント
.p-service-page__person-introduce {
  margin: 0 auto;
  max-width: myrem(1280);
  position: relative;
}

.p-service-page__person-info {
  margin-top: myrem(110);
  margin-left: 0;
  padding-bottom: myrem(108);
  max-width: myrem(812);
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mq(md) {
    margin-left: myrem(-52);
  }
}

.p-service-page__info-box {
  margin: myrem(300) auto 0;
  padding: myrem(12);
  max-width: myrem(520);
  @include mq(md) {
    margin: myrem(107) auto 0;
    padding: 0 0 0 myrem(47);
  }
}

.p-service-page__person-title {
  font-size: myrem(33);
  font-family: $font-sub;
  font-weight: bold;
  color: $black-sub;
  line-height: 1.4;
}

.p-service-page__person-comment {
  margin-top: myrem(17);
  font-size: myrem(16);
  letter-spacing: myrem(0.4);
}

.p-service-page__person-image {
  position: absolute;
  top: myrem(44);
  right: 50%;
  transform: translateX(50%);
  @include mq(md) {
    top: myrem(44);
    right: 26.8%;
  }
}

.p-service-page__person-image img {
  width: myrem(300);
  @include mq(md) {
    width: myrem(491);
  }
}
