@use "global" as *;

.p-section-title__point {
  margin-left: myrem(-4);
  text-align: center;
}

.p-section-title__service {
  margin: 0 auto;
  padding-bottom: myrem(5);
  width: fit-content;
  font-size: myrem(27);
  border-bottom: 2px solid $orange;
  @include mq(md) {
    margin: 0;
  }
}

.p-section-title__other-service {
  margin: myrem(60) auto 0;
  padding: 0 myrem(12) myrem(5) myrem(7);
  width: fit-content;
  font-size: myrem(20);
  border-bottom: 2px solid $orange;
}

.p-section-title__flow {
  margin: 0 auto;
  padding: myrem(106) myrem(38) myrem(5) myrem(19);
  padding-top: myrem(106);
  width: fit-content;
  font-size: myrem(27);
  color: $blue;
  border-bottom: 2px solid $blue;
}

.p-section-title__notice {
  margin: 0 auto;
  width: fit-content;
  font-size: myrem(24);
  border-bottom: 2px solid $orange;
  @include mq(md) {
    margin: myrem(41) 0 0 myrem(-8);
    padding: 0 myrem(8);
  }
}

.p-section-title__office {
  margin: 0 auto;
  padding: 0 myrem(19) 0 myrem(11);
  width: fit-content;
  font-size: myrem(27);
  border-bottom: 2px solid $orange;
  @include mq(md) {
    margin: 0 0 0 myrem(-6);
  }
}

.p-section-title__service-view {
  padding: myrem(10) myrem(50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  background-color: $blue;
  text-align: center;
  border-radius: myrem(5);
  @include mq(md) {
    margin: myrem(-1) 0 0 myrem(18);
    padding: myrem(14) myrem(129) myrem(9) myrem(132);
  }
}

.p-section-title__main-service {
  margin: 0 auto;
  padding: 0 myrem(10);
  width: fit-content;
  border-bottom: 2px solid $orange;
}

.p-section-title__fee {
  margin: 0 auto;
  padding: 0 myrem(10);
  width: fit-content;
  border-bottom: 2px solid $orange;
}
