@use "global" as *;

.l-service-lawyer {
  padding-top: myrem(110);
  padding-bottom: myrem(94);
}

.l-service-main {
  padding: 0 myrem(10) myrem(75);
  @include mq(md) {
    padding: 0 0 myrem(91) 0;
  }
}

.l-service-information {
  padding-top: myrem(40);
  padding-bottom: myrem(50);
  @include mq(md) {
    padding-bottom: myrem(53);
  }
}
