@use "global" as *;

.l-top-page__point {
  margin-top: myrem(50);
  @include mq(md) {
    margin-top: myrem(194);
  }
}

.l-top-page__service {
  padding: 0 myrem(15) myrem(77);
}

.l-top-page__flow {
  padding-bottom: myrem(98);
}

.l-top-page__main-person {
  padding-bottom: myrem(95);
}

.l-top-page__notice {
  padding-bottom: myrem(74);
}

.l-top-page__information {
  padding-bottom: myrem(50);
}

.l-top-page__office {
  padding-bottom: myrem(60);
}
